{%load static%}
<html>
  <head>
    <title>Vokalpédia</title>
    <link rel="stylesheet" href="{% static 'style.scss' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <img
        src="{% static 'logo_vokalpedia.png' %}"
        alt="Logo du site Vokalpédia"
      />
      {% if user.is_authenticated %}
      <p id="base_connexion">
        Vous êtes connecté en tant que
        <strong><em id="user_home">{{ request.user }}</em></strong
        >.
        <a href="{% url 'logout' %}" id="lien_deconnexion">Se déconnecter</a>
      </p>
      {% endif %}
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
      <p>
        <strong>Vokalpédia</strong> est un projet de Florent Vanhollebeke
        reposant sur Wikipédia réalisé pour le projet E1 de l'École IA Microsoft
        by Simplon Euskadi. <strong>Wikipedia®</strong> est une marque déposée
        de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par
        le paragraphe 501(c)(3) du code fiscal des États-Unis.
      </p>
    </footer>
  </body>
</html>
